{% extends 'agendanutri/base.html' %}

{% block content %}

<main>
    <div>
        <h1>
            Seja Bem vindo ao AppNutri
        </h1>

        <h3>
            Faça seu cadastro em nossa Plataforma no seguinte link: <a href="{% url 'cadastro_pacientes' %}"> Cadastre-se Aqui!</a>
        </h3>
    </div>
    <br>
    <br>
    <div>
        <h4>
            Gerenciar Lista de Pacientes! 👉 <a href="{% url 'lista_pacientes' %}"> Clique Aqui!</a>
        </h4>
    </div>
</main>

{% endblock %}