{% extends 'agencia/base.html' %}

{% block content %}

<main>
    <div>
        <h1>
            Welcome to the best Travel Agency of World!!!
        </h1>

        <h3>
            Register on our Platform at the following link: <a href="{% url 'client_register' %}"> Click here!</a>
        </h3>
        <br>
        <h3>
            Already registered? Book your next trip here:  <a href="{% url 'travel_register' %}"> Click!</a>
        </h3>
    </div>
    <br>
    <br>
    <div>
        <h4>
            Manager clients list! 👉 <a href=""> Click here!</a>
        </h4>
    </div>
</main>

{% endblock %}