{% extends 'agencia/base.html' %}

{% block content %}


        <main>
            <div>
               
                <h4>
                    Successfully Registered!Congratulations
                    <a > Marque sua viagem Aqui!</a>
                </h4>
            </div>
            <br>
            <div>
                <h4>
                    Voltar para página Inicial! 👉 <a href="{% url 'index' %}"> Clique Aqui!</a>
                </h4>
            </div>
        </main>


    {% endblock %}